.chat {
    width: 100%;
    height: 80vh;
}

.chat__messages {
    display: flex;
    flex-direction: column;

    height: calc(80vh - 64px);
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 0;

    overflow-y: scroll;

    list-style: none;
}

.chat__message {
    margin-bottom: 0.2em;
    color: #212529;
}

.chat__message--system {
    font-size: 12px;
    font-style: italic;
    color: #adb5bd;
}

.chat__message--me {
    color: #37b24d;
    font-weight: 700;
}

.chat__message--friend {
    color: #f03e3e;
    font-weight: 700;
}

.chat__status {
    height: 24px;

    font-size: 11px;
    color: #ced4da;
}

.chat__add-message-form {
    max-width: 480px;
}